@import "./variables.scss";

.bg-dark-1 {
    opacity: 1;
    background: $color-primary
}

.bg-dark-2 {
    opacity: 0.98;
    background: #1E1B1B
}

footer {
    height: 50vh;
}

.nav-link {
    cursor: pointer;
}

.text-copyright {
    color: #939191;
}

#footer-nav div ul li {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

nav div ul li a {
    color: white !important
}

.social-media>a, .social-media>a:hover, .social-media>a:focus{
 color: white !important;
}

.fixed-nav {
    position: fixed;
    top: 0px;
    background-color: rgb(4, 38, 99);
    width: 100%;
    z-index: 5;
}

.inst {
    color: white;
    margin: 6px 4px 0px 6px;
    font-size: 22px;
}

@media (max-width: 1400px) {
    .header-logo {
        height: 40px;
    }
}
@media (max-width: 991px) {
    .desktopMenuOptions {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .phoneMenuOptions {
        display: none !important;
    }
}