.bg-dark-1 {
    opacity: 1;
    background: #1E1B1B
}

.bg-dark-2 {
    opacity: 0.98;
    background: #1E1B1B
}

footer {
    height: 50vh;
}

.text-copyright {
    color: #939191;
}

#footer-nav div ul li {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}