<nav class="navbar navbar-expand-lg bg-dark-1 text-white">
  <div class="container-fluid">
    <a class="navbar-brand w-10" href="#">
      <img class="w-100" src="assets/img/logo/logo-white.png" />
    </a>
    <button class="navbar-toggler text-white bg-white mx-auto" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contáctenos</a>
        </li>
      </ul>
      <div class="d-flex justify-content-between">
        <div class="social-media d-none d-md-inline-flex text-white fs-5">
          <a href="tel:+50687805979"><img class="mx-2 icon" src="assets/icon/llamar.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/whatsapp-white.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/instagram-2.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/pin-de-ubicacion.png"></a>
        </div>
        <div class="social-media d-flex justify-content-between d-md-none text-white fs-5 w-100">
          <a href="tel:+50687805979"><img class="mx-2 icon" src="assets/icon/llamar.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/whatsapp-white.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/instagram-2.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/pin-de-ubicacion.png"></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="bg-dark-2 container-fluid p-md-5">
    <div class="row d-flex flex-row justify-content-between p-5">
      <div class="col-12 col-md-4 white mx-0 mx-md-5 my-auto">
        <p class="text-white fs-1 w-75">¿TIENE PREGUNTAS?</p>
        <p class="text-white fs-6 w-75">Contactenos y estaremos felices de ayudarle</p>
        <div class="social-media d-flex justify-content-between d-md-inline-flex text-white fs-5">
          <a href="tel:+50687805979"><img class="mx-2 icon" src="assets/icon/llamar.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/whatsapp-white.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/instagram-2.png"></a>
          <a href="#"><img class="mx-2 icon" src="assets/icon/pin-de-ubicacion.png"></a>
        </div>
      </div>
      <div class="col-12 col-md-6 white ms-md-5 ps-md-5 text-white  fw-lighter d-flex flex-column justify-content-end">
        <div class="my-2">
          <p class="my-0">Número de Teléfono</p>
          <p>8780-5979
          </p>
        </div>

        <div class="my-2">
          <p class="my-0">Dirección</p>
          <p>Sabana, 100m Sur de teletica, Condominio Vistas del Parque, local 1 y 2.
          </p>
        </div>
        <div class="my-2">
          <p class="my-0">Horario</p>
          <p class="my-0">Lunes, Miércoles, Jueves y Viernes de 10:30 a 9:30pm</p>
          <p class="my-0"> Sabados y Domingos de 9am a 8pm. </p>
          <p>Martes cerrado
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav id="footer-nav" class="navbar navbar-expand-lg p-0">
    <div class="bg-dark-1 container-fluid p-5">
      <a class="navbar-brand w-10" href="#">
        <img class="w-100" src="assets/img/logo/logo-white.png" />
      </a>
      <div class="collapse navbar-collapse text-center text-white" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Beneficios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctenos</a>
          </li>
        </ul>
        <div class="fs-6 text-copyright">
          @ Copyright 2023
        </div>
      </div>
    </div>
  </nav>
</footer>