@import "../variables.scss";

.btn-orange {
  --mo-btn-color: #fff;
  --mo-btn-bg: #ff6433;
  --mo-btn-border-color: #ff6433;
  --mo-btn-hover-color: #fff;
  --mo-btn-hover-bg: #f05e31;
  --mo-btn-hover-border-color: #f05e31;
  --mo-btn-focus-shadow-rgb: 225, 83, 97;
  --mo-btn-active-color: #fff;
  --mo-btn-active-bg: #ff6433;
  --mo-btn-active-border-color: #ff6433;
  --mo-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --mo-btn-disabled-color: #fff;
  --mo-btn-disabled-bg: #fdb59f;
  --mo-btn-disabled-border-color: #ff6433;
}

.page-link.active,
.active>.page-link {
  z-index: 3;
  color: white !important;
  background-color: $color-primary !important;
}

@media only screen and (max-width: 600px) {
  .carousel-caption {
    position: absolute;
    right: 15%;
    /* bottom: 40.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-caption {
    position: absolute;
    right: 15%;
    /* bottom: 40.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-caption {
    position: absolute;
    right: 15%;
    /* bottom: 40.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 15rem;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-caption {
    position: absolute;
    right: 15%;
    /* bottom: 40.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 8rem;
  }
}
