<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="w-100 h-100 d-grid place-center py-5">
                <p class="my-4 title fw-bold">
                    FLOW INTO YOUR INNER SELF
                </p>
                <button class="btn btn-primary rounded-5 text-white my-4 w-25">RESERVAR</button>
                <div class="d-flex my-4">
                    <img src="http://placehold.it/"/>
                    <div class="">
                        <p class="intro-schedule">
                            ¡Estamos abiertos!
                        </p>
                        <p class="schedules">
                            Lunes, miercoles, jueves y viernes de 10:30 am a 9:30pm.
                        </p>
                        <p class="schedules">
                            Sabados y domingos de 9 am a 8 pm. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="w-100  h-100 object-fit-cover" src="assets/img/image-banner-1.png"/>
        </div>
    </div>
    <div class="row"></div>
    <div class="row bg-black ">
        <div class="col-12 py-4">
            <div class="w-50 d-grid place-center py-5  my-5 text-white text-center m-auto">
                <p class="my-4 fs-3">FLOAT INTO YOUR INNER SELF</p>
                <p class="my-4 fs-6"> La flotación o privación sensorial es una práctica donde en ausencia de nuestros sentidos nuestra atención
                    se vuelve hacia adentro. Esto nos permite alcanzar altos niveles de meditación y la recuperación física de nuestro cuerpo.
                </p>
                <button class="btn btn-outline-light rounded-5 my-4 w-25 m-auto fs-5">CONOCÉ MÁS </button>
            </div>
        </div>
    </div>
    <div class="row bg-primary-gradient">
        <div class="col-12 col-md-6">
        </div>
        <div class="col-12 col-md-6">
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
</div>

