<div class="container-fluid p-0">
    <div class="row panel" data-section="withHeader" id="home">
        <div class="col-12 col-md-6 p-5 p-md-6 bg-top-section">
            <div class="w-100 h-100  py-5">
                <p class="fs-2 fw-bold my-md-4 text-wrap title w-75">
                    FLOAT INTO YOUR INNER SELF
                </p>
                <button class="btn btn-primary rounded-5 text-white my-2 my-md-4 w-50 w-md-25" data-bs-toggle="modal" data-bs-target="#allWidgetModal">RESERVAR</button>
                <div class="d-flex flex-md-row flex-column my-2 my-md-4">
                    <img class="clock-icon m-2 mt-3" src="assets/icon/reloj.png" />
                    <div class="">
                        <p class="intro-schedule mb-1 text-light-emphasis">
                            ¡Estamos abiertos!
                        </p>
                        <p class="schedules mb-0">
                            Lunes, miercoles, jueves y viernes de 10:30 am a 9:30pm.
                        </p>
                        <p class="schedules">
                            Sabados y domingos de 9 am a 8 pm.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 p-0">
            <img class="w-100 h-100 object-fit-cover " src="assets/img/Home-top.jpg" />
        </div>
    </div>
    <div class="row bg-float2 text-white p-5 p-md-6 panel" data-section="withHeader" id="benefics" >
        <div class="col-12 py-3">
            <p class="fw-bold fs-3 ">
                {{'Beneficios de la flotación o privación sensorial' | uppercase}}
            </p>
        </div>
        <div *ngFor="let beneficio of beneficios" class="col-12 col-md-4">
            <p class="benefit-title underline-title fs-5">{{beneficio.name}}</p>
            <ul id="benefit-list" class="fs-6 fw-lighter">
                <li *ngFor="let item of beneficio.benefits">
                    {{item}}
                </li>
            </ul>
        </div>
        <div class="col-12 pe-5">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=87805979&text=¡Hola! Quisiera más información del paquete 'Intro to Float'"
             class="btn btn-outline-light rounded-5 my-4 w-md-25 m-auto fs-4 float-end">FLOTÁ POR PRIMERA VEZ</a>
        </div>
    </div>
    <div class="row bg-black panel" data-section="withHeader">
        <div class="col-12 py-2 py-md-4 water-bg position-relative">
            <div class="bg-primary-gradient w-100 position-absolute z-1"></div>
            <div class="w-75 w-md-50 d-grid place-center py-3 py-md-5 my-5 text-white text-center m-auto z-0">
                <p class="my-4 fs-3">FLOAT INTO YOUR INNER SELF</p>
                <p class="my-4 fs-6"> La flotación o privación sensorial es una práctica donde en ausencia de nuestros
                    sentidos nuestra atención
                    se vuelve hacia adentro. Esto nos permite alcanzar altos niveles de meditación y la recuperación
                    física de nuestro cuerpo.
                </p>
                <a target="_blank" href="https://www.instagram.com/flotariumcr" class="btn btn-outline-light rounded-5 my-4 w-md-25 m-auto fs-5" >CONOCÉ MÁS</a>
            </div>
        </div>
    </div>
    <div class="row bg-primary-gradient p-5 p-md-6 panel" id="services" data-section="withHeader">
        <div class="col-12 col-md-6 text-white">
            <p class="fs-4 my-5">{{"Desconéctate con nosotros" | uppercase}}</p>
            <p clas>Desde los primerizos hasta los que quieren hacerlo una práctica regular, tenemos excelentes opciones para todos. 
                Tenemos flotaciones de 60min, 90 min o 120min
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row d-flex justify-content-between justify-content-lg-center">
                <div  class="m-2 p-3 text-center col-12 col-md-5 bg-white rounded-5 shadow">
                    <div class="d-flex flex-column align-content-between">
                        <p class="text mb-0">
                            Sesión individual - 60 minutos
                        </p>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <p class="fs-1 fw-bold pt-2">$85 </p>
                            <button data-bs-toggle="modal" data-bs-target="#60WidgetModal" class="btn btn-primary rounded-5 text-white my-3 w-50">Comprar</button>
                        </div>
                    </div>
                </div>
                <div  class="m-2 p-3 text-center col-12 col-md-5 bg-white rounded-5 shadow">
                    <div class="d-flex flex-column align-content-between">
                        <p class="text mb-0">
                            Sesión individual - 120 minutos
                        </p>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <p class="fs-1 fw-bold pt-2">$132 </p>
                            <button data-bs-toggle="modal" data-bs-target="#120WidgetModal" class="btn btn-primary rounded-5 text-white my-3 w-50">Comprar</button>
                        </div>
                    </div>
                </div>
                <div  class="m-2 p-3 text-center col-12 col-md-5 bg-white rounded-5 shadow">
                    <div class="d-flex flex-column align-content-between">
                        <p class="text mb-0">
                            Sesión individual - 90 minutos
                        </p>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <p class="fs-1 fw-bold pt-2">$110 </p>
                            <button data-bs-toggle="modal" data-bs-target="#90WidgetModal" class="btn btn-primary rounded-5 text-white my-3 w-50">Comprar</button>
                        </div>
                    </div>
                </div>
                <div  class="m-2 p-3 text-center col-12 col-md-5 bg-white rounded-5 shadow">
                    <div class="d-flex flex-column align-content-between">
                        <p class="text mb-0">
                            Packs y membresías desde
                        </p>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <p class="fs-1 fw-bold pt-2">$70 </p>
                            <a target="_blank" href="https://wa.link/11pz04"class="btn btn-primary rounded-5 text-white my-3 w-50">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-faq d-flex flex-column justify-content-center align-items-center p-5 panel" data-section="withHeader" id="faq">
        <div class="my-3 fs-4 fw-bolder">
            <p>PREGUNTAS FRECUENTES</p>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item bg-white rounded-4 my-1 shadow" *ngFor="let question of faqs; let i = index" >
                <h2 class="accordion-header" id="headingOne-{{i}}">
                    <button class="accordion-button collapsed rounded-4 text-black" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#faqCollapse-' + i " aria-expanded="true" [attr.aria-controls]="'faqCollapse-' + i">
                        {{question.question}}
                    </button>
                  </h2>
                 <div aria-labelledby="headingOne- + i " class="accordion-collapse collapse faqs" id="faqCollapse-{{i}}" data-bs-parent="#accordionExample">
                        <div class="px-3 pb-3 pt-0 text-light-emphasis accordion-body">
                          {{question.answer}}
                          <ul *ngIf="question.items != []">
                            <li *ngFor="let item of question.items">
                                {{item}}
                            </li>
                          </ul>
                        </div>
    
                </div>
            </div>
        </div>
    </div>
    <div class="row align-content-center align-items-center panel" id="contact" data-section="withHeader">
        <div id="contact-form" class="col-12 col-md-6">
            <div class="powr-contact-form w-100" id="52eafada_1671714573"></div>
        </div>
        <div id="map-location" class="col-12 col-md-6">
            <img class="w-100" src="assets/img/Mapa.png">
        </div>
    </div>
</div>