.bg-primary-gradient {
    background: rgb(4,38,99);
    background: radial-gradient(circle, rgba(4,38,99,1) 50%, rgba(2,0,36,1) 100%, rgba(4,38,99,1) 100%);
}

.clock-icon {
    width: 25px;
    height: 25px;
}

.water-bg {
    background-image: radial-gradient(circle, rgba(4,38,99,0.8) 50%, rgba(2,0,36,0.8) 100%, rgba(4,38,99,0.8) 100%), url("../../assets/img/Recurso-2.png") ,;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-float2 {
    background-image: radial-gradient(circle, rgba(0,0,0,0.6) 19%, rgba(0,0,0,0.9) 100%), url(../../assets/img/bg-home-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#benefit-list{
    padding-left: 1rem !important;
}

.underline-title {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-underline-position: under;
    text-decoration-thickness: 1px;

}

.bg-faq {
    background-image: url("../../assets/img/Recurso-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.faqs {
    width: 330px;
}
.text {
    font-size: 1.10rem!important;
}

.form-submit-button-edit-on-click .fitText {
    background-color: #00bbd6 !important;
    border-radius: 35px !important;
}

@media (min-width: 768px) {
    .faqs {
        width: 450px;
    }

    .bg-faq {
        background-image: url("../../assets/img/Recurso-3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
    }
}

    .accordion-button:not(.collapsed)::after {
        background-image: url('../../assets/img/less.png') !important;
        transform: rotate(-180deg);
        height: 30px;
    }
    .accordion-button::after {
        flex-shrink: 0;
        width: 3.25rem;
        height: 34px;
        margin-left: auto;
        content: "";
        background-image: url('../../assets/img/add.png');
        background-repeat: no-repeat;
        background-size: 12px;
        transition: transform .2s ease-in-out;
        background-color: #02bbd6;
        border-radius: 20px;
        text-align: center;
        background-position: center;
    }

.accordion-item:first-of-type .accordion-button {
    background-color: white;
    border: none !important;
    border-radius: 18px;
    color: #6c757d;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    border: none !important;
    border-radius: 18px;
    color: #6c757d;
    box-shadow: none;
}